IPTV_REPOSITORY_URL=https://github.com/iptv-org/iptv.git
IPTV_REPOSITORY_DIR=/var/lib/home-tv-server/iptv-org
IPTV_ALL_PLAYLIST_PATH=index.m3u
IPTV_CN_PLAYLIST_PATH=countries/cn.m3u
HOST=127.0.0.1
PORT=8080
REPOSITORY_UPDATE_INTERVAL_HOURS=24
HEALTH_CHECK_INTERVAL_HOURS=1
HEALTH_CHECK_TIMEOUT_MS=8000
HEALTH_CHECK_CONCURRENCY=16
GIT_TIMEOUT_MS=120000
