UPSTREAM_ALL_M3U_URL=https://iptv-org.github.io/iptv/index.m3u
UPSTREAM_CN_M3U_URL=https://iptv-org.github.io/iptv/countries/cn.m3u
HOST=127.0.0.1
PORT=8080
SYNC_INTERVAL_HOURS=6
FETCH_TIMEOUT_MS=30000
