IPTV_REPOSITORY_URL=https://github.com/iptv-org/iptv.git
IPTV_REPOSITORY_DIR=./data/iptv-org
IPTV_ALL_PLAYLIST_PATH=index.m3u
IPTV_CN_PLAYLIST_PATH=countries/cn.m3u
HOST=0.0.0.0
PORT=8080
SYNC_INTERVAL_HOURS=6
GIT_TIMEOUT_MS=120000
DATA_DIR=./data
